[mysqld]
loose-local-infile=1
character-set-server=utf8mb4
# general_log=1
# general_log_file=/tmp/general
long_query_time=0
slow_query_log=1
slow_query_log_file=/ft/slow.log
[client]
loose-local-infile=1
default-character-set=utf8mb4
